<footer class="footer">
  <div>
    <a href="">
      <img
        src="./assets/images/ico-arrow.svg"
        alt="flecha hacia arriba"
        title="ir al inicio de la página"
      />
    </a>
  </div>
  <small> &copy; 2017</small> <small>we ♥ components</small>
  <div>
    <div class="books">
      <ul>
        <li>
          <a href="">Articles</a>
        </li>
        <li>
          <a href="">Books</a>
        </li>
        <li>
          <a href="">Events</a>
        </li>
        <li>
          <a href="">Reasons</a>
        </li>
        <li>
          <a href="">Tips</a>
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li>
          <a href="">Twitter</a>
        </li>
        <li>
          <a href="">Instagram</a>
        </li>
        <li>
          <a href="">Mastodon.social</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
