<footer class="footer">
  <div class="footer__link">
    <a href="index.html#section1" title="ir a la sección 3">
      <img
        src="./assets/images/ico-arrow.svg"
        alt="flecha hacia arriba"
        title="ir al inicio de la página"
      />
    </a>
  </div>
  <div class="footer__div">
    <div class="footer--articles">
      <ul>
        <li>
          <a class="footer--links" href="https://adalab.es/" title="ir a Adalab"
            >Articles</a
          >
        </li>
        <li>
          <a class="footer--links" href="https://adalab.es/" title="ir a Adalab"
            >Books</a
          >
        </li>
        <li>
          <a class="footer--links" href="https://adalab.es/" title="ir a Adalab"
            >Events</a
          >
        </li>
        <li>
          <a class="footer--links" href="https://adalab.es/" title="ir a Adalab"
            >Reasons</a
          >
        </li>
        <li>
          <a class="footer--links" href="https://adalab.es/" title="ir a Adalab"
            >Tips</a
          >
        </li>
      </ul>
    </div>
    <div class="footer--social">
      <ul>
        <li>
          <a class="footer--links" href="https://adalab.es/" title="ir a Adalab"
            >Twitter</a
          >
        </li>
        <li>
          <a class="footer--links" href="https://adalab.es/" title="ir a Adalab"
            >Instagram</a
          >
        </li>
        <li>
          <a class="footer--links" href="https://adalab.es/" title="ir a Adalab"
            >Mastodon.social</a
          >
        </li>
      </ul>
    </div>

    <small class="footer__small">
      <span>&copy; 2017</span><span>we ♥ components</span></small
    >
  </div>
</footer>
