<footer class="footer">
  <div class="footer__link">
    <a href="index.html#section1">
      <img
        src="./assets/images/ico-arrow.svg"
        alt="flecha hacia arriba"
        title="ir al inicio de la página"
      />
    </a>
  </div>
  <div>
    <div class="footer--articles">
      <ul>
        <li>
          <a class="footer--links" href="">Articles</a>
        </li>
        <li>
          <a class="footer--links" href="">Books</a>
        </li>
        <li>
          <a class="footer--links" href="">Events</a>
        </li>
        <li>
          <a class="footer--links" href="">Reasons</a>
        </li>
        <li>
          <a class="footer--links" href="">Tips</a>
        </li>
      </ul>
    </div>
    <div class="footer--social">
      <ul>
        <li>
          <a class="footer--links" href="">Twitter</a>
        </li>
        <li>
          <a class="footer--links" href="">Instagram</a>
        </li>
        <li>
          <a class="footer--links" href="">Mastodon.social</a>
        </li>
      </ul>
    </div>
  </div>
  <small class="footer__small">
    <span>&copy; 2017</span><span>we ♥ components</span></small
  >
</footer>
