<
<main class="main">
  <section id="section1" class="main__hero">
    <h1 class="main__hero--title"><span>Anonymous</span><span>proxy</span></h1>
    <h2 class="main__hero--subtitle">In hac habitasse platea dictumst.</h2>
    <a
      class="main__hero--link"
      href="index.html#section3"
      title="ir a la sección 3"
    >
      <img
        src="./assets/images/ico-scroll-down.svg"
        alt="flecha hacia abajo"
        title="ir a la sección 3"
      />
    </a>
  </section>
  <section class="tips">
    <small class="tips__small">Insomnia tips</small>
    <h2 class="tips__title">Looking through a window</h2>
    <p class="tips__text">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <a class="tips__link" href="https://adalab.es/" title="ir a Adalab">Go</a>
  </section>
  <section id="section3" class="reasons">
    <h2 class="reasons__title">3 Reasons to purchase</h2>
    <div class="reasons__div">
      <article>
        <h3 class="reasons--h3">Ut sed metus</h3>
        <p class="reasons--text">Lorem ipsum dolor sit amet, consecteur.</p>
      </article>
      <article>
        <h3 class="reasons--h3">Curabitur ac erat</h3>
        <p class="reasons--text">Mauris mattis urna quis lorem molestie.</p>
      </article>
      <article>
        <h3 class="reasons--h3">Morbi dictum</h3>
        <p class="reasons--text">Aliquam in dolor et dolor tincidunt.</p>
      </article>
    </div>
    <a class="reasons__link" href="https://adalab.es/" title="ir a Adalab"
      >More reasons</a
    >
  </section>
</main>
