<main class="main">
  <section class="main__hero">
    <div class="main__div">
      <h1>Anonymous proxy</h1>
      <h2>In hac habitasse platea dictumst.</h2>
      <a href="index.html#" title="">
        <img
          src="./assets/images/ico-scroll-down.svg"
          alt="flecha hacia abajo"
          title="ir
      a la sección 3"
        />
      </a>
    </div>
  </section>
  <section class="tips">
    <small>Insomnia tips</small>
    <h2>Looking through a window</h2>
    <p>
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <button>Go</button>
  </section>
  <section class="reasons">
    <h2>3 Reasons to purchase</h2>
    <div>
      <article class="reasons--article">
        <h3>Ut sed metus</h3>
        <p>Lorem ipsum dolor sit amet, consecteur.</p>
      </article>
      <article class="reasons--article">
        <h3>Curabitur ac erat</h3>
        <p>Mauris mattis urna quis lorem molestie.</p>
      </article>
      <article class="reasons--article">
        <h3>Morbi dictum</h3>
        <p>Aliquam in dolor et dolor tincidunt.</p>
      </article>
    </div>
    <button>More reasons</button>
  </section>
</main>
