/* footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #304268;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  transform: translate(0, -50%);
}

.footer__link--image {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: move;
}

@keyframes move {
  from {
    margin-bottom: 80%;
  }
  to {
    margin-top: 10%;
  }
}

.footer--links {
  font-family: "Roboto";
  font-size: 16px;
  color: white;
  line-height: 30px;
  text-transform: uppercase;
}

.footer--articles {
  margin-bottom: 30px;
}

.footer--social {
  margin-bottom: 30px;
}

.footer__small {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 30px;
  color: white;
  margin-bottom: 45px;
}

/* tablet */

@media all and (min-width: 768px) {
  .footer__div {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    transform: translate(-25px, 0);
  }

  .footer__small {
    order: -1;
    text-align: left;
  }
  .footer--articles {
    text-align: left;
  }

  .footer--social {
    text-align: left;
  }
}

/* desktop */

@media all and (min-width: 1200px) {
  .footer__div {
    justify-content: center;
  }

  .footer__small {
    padding-right: 40px;
  }

  .footer--articles {
    padding-right: 60px;
  }
}
